<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="camera_R"></link>


    <joint name="camera_R_joint" type="fixed">
        <axis xyz="0.0 1.0 0.0"/>
        <origin xyz="0.0 -0.002 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="camera_L"/>
        <child link="camera_R"/>
    </joint>


    <gazebo reference="camera_R">
        <sensor type="camera" name="camera_R">
        <update_rate>30.0</update_rate>
        <visualize>true</visualize>
        <camera name="head">
            <horizontal_fov>1.3962634</horizontal_fov>
            <image>
            <width>800</width>
            <height>800</height>
            <format>R8G8B8</format>
            </image>
            <clip>
            <near>0.02</near>
            <far>300</far>
            </clip>
            <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.0</stddev>
            </noise>
        </camera>
        <plugin name="camera_R_controller" filename="libgazebo_ros_camera.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>0.0</updateRate>
            <cameraName>toycar/camera_R</cameraName>
            <frameName>camera_R</frameName>
            <hackBaseline>0.07</hackBaseline>
            <distortionK1>0.0</distortionK1>
            <distortionK2>0.0</distortionK2>
            <distortionK3>0.0</distortionK3>
            <distortionT1>0.0</distortionT1>
            <distortionT2>0.0</distortionT2>
        </plugin>
        </sensor>
    </gazebo>

</robot>