<?xml version="1.0"?>

<model>
  <name>Apartment_P</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Pablo David Aranda Rodríguez</name>
    <email>pablo.arandarod@gmail.com</email>
  </author>

    <description>
        A model of an apartment.
    </description>

</model>
