<?xml version="1.0"?>
<model>
  <!-- Name of the model -->
  <name>simple_DDR</name>

  <!-- Version of the model -->
  <version>1.0</version>

  <!-- SDF version -->
  <sdf version="1.6">model.xacro</sdf>

  <!-- Author information -->
  <author>
    <name>Pablo David Aranda Rodriguez</name>
    <email>pablo.arandarod@gmail.com</email>
  </author>

  <!-- Description of the model -->
  <description>
    This is a simple DDR robot model for demonstration purposes.
  </description>

  <!-- License information -->
  <license>TODO: Add license information</license>

  <!-- Keywords -->
  <keyword>robot</keyword>
</model>
