<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">

            <!-- Plugin update rate in Hz -->
            <update_rate>10</update_rate>

            <!-- Name of left joint, defaults to `left_joint` -->
            <left_joint>joint_wheel_L</left_joint>

            <!-- Name of right joint, defaults to `right_joint` -->
            <right_joint>joint_wheel_R</right_joint>

            <!-- The distance from the center of one wheel to the other, in meters, defaults to 0.34 m -->
            <wheel_separation>0.142</wheel_separation>

            <!-- Diameter of the wheels, in meters, defaults to 0.15 m -->
            <wheel_diameter>0.045</wheel_diameter>

            <!-- Wheel acceleration, in rad/s^2, defaults to 0.0 rad/s^2 -->
            <wheelAcceleration>0.8</wheelAcceleration>

            <!-- Maximum torque which the wheels can produce, in Nm, defaults to 5 Nm -->
            <wheelTorque>10</wheelTorque>

        
            <!-- Odometry frame, defaults to `odom` -->
            <odometry_frame>odom_diff_drive</odometry_frame>

            <!-- Robot frame to calculate odometry from, defaults to `base_footprint` -->
            <robotBaseFrame>base_footprint</robotBaseFrame>

            <!-- Odometry source, 0 for ENCODER, 1 for WORLD, defaults to WORLD -->
            <odometrySource>1</odometrySource>

            <!-- Set to true to publish transforms for the wheel links, defaults to false -->
            <publishWheelTF>true</publishWheelTF>
            
            <publishOdom>true</publishOdom>

            <!-- Set to true to publish transforms for the odometry, defaults to true -->
            <publish_odom>true</publish_odom>

            <!-- Set to true to publish sensor_msgs/JointState on /joint_states for the wheel joints, defaults to false -->
            <publishWheelJointState>true</publishWheelJointState>

            <!-- Set to true to swap right and left wheels, defaults to true -->
            <legacyMode>false</legacyMode>
            
            <max_wheel_torque>200</max_wheel_torque>
            <max_acceleration>3.0</max_acceleration>
        </plugin>
    </gazebo>

</robot>